$WHITE: #ffffff;
$CULTURED: #f0f0f0;
$BACKGROUND-GREY: #24a399;
$BACKGROUND-BLUE: #d3edeb;
$BLACK: #1a1a1a;
$JET: #282828;
$BLACK-OLIVE: #434343;
$OUTERSPACE: #484848;

$MAXIMUM-RED: #e3211b;
$TACCT-RED: #bd1622;
$TACCT-ORANGE: #dd7c00;
$HONEY-YELLOW: #ffae09;
$TACCT-GREEN: #838320;
$TACCT-BLUE: #24a399;
$ALICE-BLUE: #e6f1ff;
$BABY-BLUE-EYES: #99c5ff;
$YALE-BLUE: #004899;
$YALE-BLUE-HOVER: #003673;
$ROYAL-DARK-BLUE: #002c66;
$OXFORD-BLUE: #001633;
$ADEME-GREEN: #1d837b;
$TACCT-PURPLE: #5858c3;

$GHOST-WHITE: #f7f7f7;
$PERIWINKLE: #c8d8e9;
$ICEBERG: #80a4cc;
$ADEME-GREY: #737373;
$LAPIS-LAZULI: #004899;
$PRUSSIAN-BLUE: #1d3249;

$BABY-BLUE: #85e0ff;
$CERULEAN: #00a9e2;
$BLUE-SAPPHIRE: #005c7a;

$CORAL-RED: #fb3640;
$LIGHT-SALMON-PINK: #fc9196;
$PALE-PINK: #fedadc;
$ANTIQUE-RUBY: #891e23;

$CARIBBEAN-GREEN: #06d6a0;
$MIDDLE-BLUE-GREEN: #77e8cb;
$AERO-BLUE: #d1f7ed;
$BOTTLE-GREEN: #036249;
$MANGO-TANGO: #dd7c00;
$MACARONI-AND-CHEESE: #fcbb90;
$MOCCASIN: #fee8da;
$RUSSET: #89481d;

$GLITTER: #dfe0e2;
$COLUMBIA-GREY: #81898f;
$SLATE-GRAY: #3a3a3a;

$GREEN-ADEME: #27b1a6;
$GREEN-TACCT: #009f79;
$COLOR-HR: #e0e2e6;

$MEDIUM-TURQUOISE: #61c6be;
$PERSIAN-GREEN: #24a399;
$CELADON-GREEN: #1d837b;
