$size-small: 0.25rem;
$size-lower: 0.5rem;
$size-default: 1rem;
$size-medium: 1.5rem;
$size-large: 3rem;
$size-xl: 4rem;
$font-size-medium: 16px;
$font-size-lower: 14px;
$font-size-small: 12px;

$icon-size-small: 1rem;
$icon-size-lower: 1.5rem;
$icon-size-default: 2rem;
$icon-size-medium: 2.5rem;
$icon-size-large: 3rem;
$icon-size-xl: 3.5rem;

$height-burger-icon: 4.25rem;
$size-menu: 18rem;
$size-zone-menu: 16.5rem;
